apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: "spring-app"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["app_cliente:8080"]
